/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.hero {
  background-color: transparent;
  background-image: url('/img/cover-image.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.heroBanner {
  padding: 4rem;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}
